<?xml version="1.0"?>
<!-- 
*****************************************************************************************
*
*        =============================================
*           Krishi Bot (KB) Theme (eYRC 2022-23)
*        =============================================
*
*
*  Filename:			model.config
*  Created:				2021
*  Last Modified:	28/08/2022
*  Modified by:   Amit
*  Author:				e-Yantra Team
*  
*****************************************************************************************
-->

<model>
  <name>plant_bell_pepper_red</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Saail</name>
    <email>helpdesk@e-yantra.org</email>
  </author>

  <description>
    Model file for red bell pepper plant in KB theme.
  </description>
</model>